.navbar {
  display: flex;
  background-color: #111;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
  position: relative;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.logout {
  color: #ccc;
}

.active {
  background-color: #f58a07;
  color: white;
  border-radius: 5px;
}
